[Unit]
Description=Run DaystillRemedhan poster monthly

[Timer]
# Run once per month
OnCalendar=monthly
# Persist across reboots so missed runs are triggered when system is back up
Persistent=true

[Install]
WantedBy=timers.target
